node_modules
.vercel

# Logs
logs
*.log

# Next.js build output
.next
out

# Tailwind & PostCSS
*.css.map

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local